html{  scroll-behavior: smooth;}
.navbar-brand.logo{color: #fff !important;
    font-weight: 700;}
.top-nav-collapse {
    background-color: #355c24;
  }
      .navbar:not(.top-nav-collapse) {
      background-color: #355c24;
    }
  @media (max-width: 768px) {

  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #355c24;
    }
  }
  
  
  .meta{border-top: 1px solid #ddd;
    font-size: 13px;
    padding-top: 5px;}
 
 
  
  .fadet{
    position:relative;
    /* … */
}
.fadet:after {
    content:"";
    position:absolute;
    bottom:0px;
    left:0;
    height:22%;
    width:100%;
    background: linear-gradient(rgba(0,0,0,0), #fff);
}
  
  .cta{text-align: center; font-size:18px;}